# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea
/src/corpus txt
/.DS_Store
src/.DS_Store
src/rating-scraper/.DS_Store
src/feature-extractor/.DS_Store
src/feature-extractor/__pycache__/extractor.cpython-39.pyc
src/rating-predictor/catboost_info/catboost_training.json
src/rating-predictor/catboost_info/time_left.tsv
src/rating-predictor/catboost_info/learn_error.tsv
src/rating-predictor/catboost_info/learn/events.out.tfevents
src/rating-predictor/1
